---
import Base from '../../layouts/base.astro';

const title = "save_system_0";
---
<Base>
    <div>
        <h2>tools & libraries</h2>
        <a class="tool" href="https://astro.build/">astro</a>
        <div>its a pretty good framework for building simple websites. really fast and no js by default</div>
    </div>
</Base>